body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #0C0C0C;
}

.fa {
  transition: 0.4s ease all;
}

.fa:hover {
  transform: scale(1.2);
}

.fa-linkedin-square:hover {
  color: #0077B5;
}

.fa-github-alt:hover {
  color: #333;
}

.fa-envelope-square:hover {
  color: #C71610;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.react-swipeable-view-container {
  height: 100%;
}

.moveCloud {
  -webkit-animation: moveCloud 80s linear infinite;
  -moz-animation:    moveCloud 80s linear infinite;
  -o-animation:      moveCloud 80s linear infinite;
  animation:         moveCloud 80s linear infinite;
}

.navLink {
  -webkit-animation: slideUpNav 1.2s ease forwards;
  -moz-animation:    slideUpNav 1.2s ease forwards;
  -o-animation:      slideUpNav 1.2s ease forwards;
  animation:         slideUpNav 1.2s ease forwards;
}

.slideDownNavigationTwo {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay:    0.4s;
  -o-animation-delay:      0.4s;
  animation-delay:         0.4s;
}

.slideDownNavigationThree {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay:    0.8s;
  -o-animation-delay:      0.8s;
  animation-delay:         0.8s;
}

.slideDownTitle {
  opacity: 0;
  -webkit-animation: slideDown 1s linear forwards;
  -moz-animation:    slideDown 1s linear forwards;
  -o-animation:      slideDown 1s linear forwards;
  animation:         slideDown 1s linear forwards;
}

.slideDownDescription {
  -webkit-animation: slideDown 1s linear forwards;
  -moz-animation:    slideDown 1s linear forwards;
  -o-animation:      slideDown 1s linear forwards;
  animation:         slideDown 1s linear forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay:    1s;
  -o-animation-delay:      1s;
  animation-delay:         1s;
}

/*
  Float Cloud
*/
@-webkit-keyframes moveCloud {
  0% { 
    opacity: 0; 
    transform: translate3d(-100px,0,0);
  }
  1% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
    transform: translate3d(100vw,0,0);
  }
}
@-moz-keyframes moveCloud {
  0% { 
    opacity: 0; 
    transform: translate3d(-100px,0,0);
  }
  1% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
    transform: translate3d(100vw,0,0);
  }
}
@-o-keyframes moveCloud {
  0% { 
    opacity: 0; 
    transform: translate3d(-100px,0,0);
  }
  1% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
    transform: translate3d(100vw,0,0);
  }
}
@keyframes moveCloud {
  0% { 
    opacity: 0; 
    transform: translate3d(-100px,0,0);
  }
  1% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.4;
    transform: translate3d(100vw,0,0);
  }
}

/*
  Slide Up
*/
@-webkit-keyframes slideDown {
  0% { 
    opacity: 0; 
    transform: translate3d(0,-15px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@-moz-keyframes slideDown {
 0% { 
   opacity: 0; 
   transform: translate3d(0,-15px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}
@-o-keyframes slideDown {
 0% { 
   opacity: 0; 
   transform: translate3d(0,-15px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}
@keyframes slideDown {
 0% { 
   opacity: 0; 
   transform: translate3d(0,-15px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}

/*
  Slide Down
*/
@-webkit-keyframes slideUpNav {
  0% { 
    opacity: 0; 
    transform: translate3d(0,20px,0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}
@-moz-keyframes slideUpNav {
 0% { 
   opacity: 0; 
   transform: translate3d(0,20px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}
@-o-keyframes slideUpNav {
 0% { 
   opacity: 0; 
   transform: translate3d(0,20px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}
@keyframes slideUpNav {
 0% { 
   opacity: 0; 
   transform: translate3d(0,20px,0);
 }
 100% {
   opacity: 1;
   transform: translate3d(0,0,0);
 }
}
-webkit-tap-highlight-color: rgba(0,0,0,0);